#square {
  width:200px;
  height:200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgrey;
}

.square-counter {
  display: flex;
  justify-content: center;
}

#statistic {
  align-items: center;
  border-collapse: collapse;
}

.table {
  display: flex;
  justify-content: center;
}

#content {
  border: 1px solid lightgrey;
}

tr td {
  padding: 3px;
  border: 1px solid lightgrey;
}
